/*===============================================================*/
/* GLOBAL */
html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    color: #30332E;
    background-color: #FFFBFC;
    text-align: center;
    font-size: clamp(0.7rem, 4vw, 1rem);
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 1rem 0;
}

/*===============================================================*/
/* HEADER */
.header {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

h1 a {
    color: #30332E;
    text-decoration:none;
}

h1 a:hover {
    color: #30332E;
}

/*===============================================================*/
/* NAV BUTTONS */
.btn-group {
    width: 100%;
    padding: 0 10vw;
}

button {
    color: #30332E;
    background-color: #FFFBFC;
    font-size: clamp(0.7rem, 4vw, 1rem);
    padding: 0.25rem;
    width: 25%;
    transition-duration: 0.4s;
    border: 0px;
}

button:hover {
    background-color: #30332E;
    color: #FFFBFC;
}

/*===============================================================*/
/* SEPARATING LINES */
hr {
    margin: 5vw 10vw;
    border-style: inset;
    border-width: 1px;
    border-color: #efefef;
}

/*===============================================================*/
/* HOMEPAGE VIDEO */
#homepage-video {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 10vw 5vw;
}

#homepage-video iframe {
    width: 76vw;
    height: 42.75vw;
}

/*===============================================================*/
/* BIO */
#text-paragraph {
    text-align: justify;
    padding: 0vw 10vw 0vw;
}

/*===============================================================*/
/* MUSIC PLAYLIST */
.music-playlist {
    padding: 0vw 10vw 0vw 10vw;
}

.music-playlist td {
    padding: 5px;
    width: 80vw;
}

.music-playlist iframe {
    padding: 5px;
    border-radius: 12px;
    height: 220px;
    width: 100%;
}

/*===============================================================*/
/* IMG GALLERY */
.image-gallery {
    margin-top: 0.5rem;
    padding: 0 10vw;
}

.image-gallery td {
    width: 33.33%;
    padding: 1vw;
}

.image-gallery img {
    max-width: 100%;
    max-height: 100%;
}

/*===============================================================*/
/* CONTACT FORM */
.contact-form {
    margin-top: 0.5rem;
    padding: 0 10vw;
}

.contact-form table {
    width: 100%;
}

.contact-form td {
    padding: 1vw;
}

#send-a-message {
    padding-top: 1vw;
    margin-bottom: 5vw;
}

.contact-form input {
    border-radius: 4px;
    padding: 2vw;
    margin: 1vw;
}

.contact-form input[type=text] {
    width: 100%;
    border: 1px solid #efefef;
}

.contact-form textarea {
    width: 100%;
    height: 300px;
    padding: 2vw;
    margin: 1vw;
    border-radius: 4px;
    border: 1px solid #efefef;
    resize: none;
}

.contact-form input[type=submit] {
    width: 6rem;
    border: none;
    background-color: #efefef;
    cursor: pointer;
    transition-duration: 0.4s;
}

.contact-form input[type=submit]:hover {
    color: #FFFBFC;
    background-color: #30332E;
}

/*===============================================================*/
/* FOOTER */
.music-playlist {
    margin-top: 0.5rem;
}
.footer {
    color: #FFFBFC;
    background-color: #30332E;
    padding: 3vw 0;
    margin-top: 3rem;
}

.footer p {
    margin-bottom: 0;
}

#gallery-body .footer {
    margin-top: 15rem;
}

#contact-body .footer {
    margin-top: 7rem;
}

/*===============================================================*/
/*COLOR PALLETTE:
https://coolors.co/010400-30332e-fffbfc-62bbc1-ec058e
*/

