html {
    font-size: 16px;
}

/* Header */
h1 a {
    color: #30332E;
    text-decoration:none;
}

h1 a:hover {
    color: #30332E;
}

/* Body */
body {
    color: #30332E;
    background-color: #FFFBFC;
    text-align: center;
    font-size: clamp(0.7rem, 4vw, 1rem);
}

/* Buttons */
.btn-group {
    width: 80%;
}

button {
    color: #30332E;
    background-color: #FFFBFC;
    font-size: clamp(0.7rem, 4vw, 1rem);
    padding: 0.25rem;
    width: 25%;
    transition-duration: 0.4s;
    border: 0px;
}

button:hover {
    background-color: #30332E;
    color: #FFFBFC;
}

/* Separating Lines */
hr {
    margin-left: 10vw;
    margin-right: 10vw;
    border-style: inset;
    border-width: 1px;
    border-color: #FFFBFC
}

/* iFrame */
#container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px;
}

iframe {
    width: 80vw;
    height: 45vw;
}

/* Biography */
#text-paragraph {
    text-align: justify;
    padding: 0vw 10vw 0vw;
}

/* Contact form */
.contact-form {
    color: #30332E;
    background-color: #FFFBFC;
}

input[type=text] {
    width: 50%;
    margin: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 50%;
    height: 300px;
    margin: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }

input[type=submit] {
    width: 6rem;
    margin: 8px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    color: #FFFBFC;
    background-color: #30332E;
}

/* Page ending */
.footer {
    color: #FFFBFC;
    background-color: #30332E;
}

/* Image Gallery */
.image-gallery {
    padding: 0vw 10vw 0vw 10vw;
}

.image-gallery td {
    width: 33.33%;
    padding: 5px;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
}

/* Music Playlist */
.music-playlist {
    padding: 0vw 10vw 0vw 10vw;
}

.music-playlist tr {
    padding: 5px;
}

.music-playlist iframe {
    padding: 5px;
    border-radius: 12px;
    height: 250px;
}

/*COLOR PALLETTE:
https://coolors.co/010400-30332e-fffbfc-62bbc1-ec058e
*/

